.progress__box-control {
  display: grid;
  align-items: center;
}

.progress__box-control > :first-child {
  margin-right: 25px;
}

@media (orientation: portrait) {
  .progress__box-control {
    grid-template-columns: 1fr 1fr;
  }
}

@media (orientation: landscape) {
  .progress__box-control {
    grid-template-columns: min-content min-content;
  }
}
