.progress {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}

@media (orientation: portrait) {
  .progress {
    max-width: 320px;
    width: 100%;
    height: 568px;
  }
}

@media (orientation: landscape) {
  .progress {
    max-width: none;
    width: 568px;
    height: 320px;
  }
}
