:root {
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

body {
  --margin: 20px;
  display: flex;
  justify-content: center;
  font-family: "GTEestiProDisplay-Light", Arial, Helvetica, Calibri, sans-serif;
  color: var(--text-color);
  height: calc(100vh - var(--margin) * 2);
  margin: var(--margin);
}

h1 {
  margin: 0;
}

@media (orientation: landscape) {
  body {
    align-items: center;
  }
}
