.progress-root {
  font-size: 10px;
}

.progress-root > body {
  --margin: 20px;

  display: flex;
  justify-content: center;
  font-family: "GTEestiProDisplay-Light", Arial, Helvetica, Calibri, sans-serif;
  height: calc(100vh - var(--margin) * 2);
  color: var(--text-color);
  margin: var(--margin);
}

@media (orientation: landscape) {
  .progress-root > body {
    align-items: center;
  }
}
