.progress-indicator {
  --container-size: 136px;
  --arc-size: calc(var(--container-size) - 24px);

  position: relative;
  width: var(--container-size);
  height: var(--container-size);
  flex-shrink: 0;
  border-radius: 50%;
  /*--current-progress инициализируется через js и изменяется при изменении значения в control-value */
  background: conic-gradient(
    var(--primary-color) calc(var(--current-progress, 15) * 1%),
    var(--secondary-color) 0
  );
}

/* внутренний заполнитель (круг) */
.progress-indicator::after {
  position: absolute;
  content: "";
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: var(--arc-size);
  height: var(--arc-size);
  background-color: white;
  border-radius: 50%;
}
